# Project exclude paths
/out/
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/description.html
/.idea/discord.xml
/.idea/encodings.xml
/.idea/libraries/itextpdf_5_5_13.xml
/.idea/libraries/lib.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/libraries/mysql_connector_java_8_0_28.xml
/.idea/project-template.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace-UROS-PC.xml
/readme-images
